<h3>CDR Data</h3>

<%= form_tag cdrs_path, {:name => "date_range_form", :method => :get } do |f| %>

  <% if is_admin? %>
    <%= select_tag "user", options_from_collection_for_select(@users, "id", "email",:selected => @user.id), :prompt => "Select User to see ralevant data.",
      :onchange => "$('#date_from').val('');$('#date_from').val('');$('#advance_filter_chk').val('false');date_range_form.submit();"%>
  <% end %>

  <%= select_tag "date_filter", options_for_select(
    [["All calls of this month","this_month"],["All calls of previous month","last_month"],
      ["All calls of this quarter","this_quarter"],["All calls of previous quarter", "last_quarter"],
      ["All calls of this year", "this_year"],["All calls from last year", "last_year"]], @filter) ,
    :style => "width:300px;",
    :onchange => "$('#date_from').val('');$('#date_from').val('');$('#advance_filter_chk').val('false');date_range_form.submit();"
%>
  <%= hidden_field_tag "advance_filter_chk", "false" %>
  <br/><br/>
  <%= link_to_function "Advance Filter", "$('#advance_filter').toggle();"  %>
  <br/><br/>

  <div style="float: left;width: 100%;display: none;" id="advance_filter">
    <div style="margin-bottom: 10px;">
      <span style="width: 75px;float: left;">
        From: &nbsp;&nbsp;&nbsp;
      </span>
      <%= text_field_tag :date_from, @date_from, :style => "width:200px;" %>&nbsp;<%= link_to_function "clear", "$('#date_from').val('');"  %>
    </div>
    <div style="margin-bottom: 10px;">
      <span style="width: 75px;float: left;">
        To: &nbsp;&nbsp;&nbsp;
      </span>
      <%= text_field_tag :date_to, @date_to, :style => "width:200px;" %>&nbsp;<%= link_to_function "clear", "$('#date_to').val('');"  %>
    </div>

    <%= submit_tag "Filter Data", :onclick => "return checkDateValues();" %>
  </div>



<% end %>
<h3>&nbsp;</h3>

<div  class="datatable" >
  <table>

    <div class="datatable_header" style="width: 930px;" >
      <span style="width: 120px;">Date</span>
      <span style="width: 120px;">Start Time</span>
      <span style="width: 85px;">Call Group</span>
      <span style="width: 70px;">Rate</span>
      <span style="width: 95px;">Source</span>
      <span style="width: 140px;">Destination</span>
      <span style="width: 60px;">Duration</span>
      <span style="width: 90px;">Account code</span>
      <span style="width: 70px;">Cost</span>
    </div>
    <% total_call_cost = 0.to_f  %>
    <% @cdrs.each do |seller_rate_id, cdrs| %>
      <% cdrs.each do |cdr| %>
        <% seller_rate = SellerRate.find_by_id(seller_rate_id) %>
        <div class="rows" style=" width: 930px;" id="site_user_<%= cdr.id %>">
          <div class="row-column" style="width: 120px;"><%= cdr.calldate.strftime("%Y-%m-%d") %></div>
          <div class="row-column" style="width: 120px;"><%= cdr.calldate.strftime("%H:%M:%S") %></div>
          <div class="row-column" style="width: 85px;"><%= seller_rate.callgroup %></div>
          <div class="row-column" style="width: 70px;"><%= (seller_rate.rate_per_minute.to_f).round(6) %></div>
          <div class="row-column" style="width: 95px;"><%= cdr.src %></div>
          <div class="row-column" style="width: 140px;"><%= cdr.dst %></div>
          <div class="row-column" style="width: 60px;"><%= convert_seconds_to_time(cdr.billsec) %></div>
          <div class="row-column" style="width: 90px;"><%= cdr.accountcode %></div>
          <div class="row-column" style="width: 70px;"><%= number_with_precision(((seller_rate.rate_per_minute.to_f / 60.to_f ) * cdr.duration.to_f), :precision => 3, :delimiter => ',') %></div>
          <% total_call_cost = total_call_cost + ((seller_rate.rate_per_minute.to_f / 60.to_f ) * cdr.duration.to_f).round(3) %>
        </div>
      <% end %>
    <% end %>

    <b>Total Call Cost: &nbsp;<%= number_with_precision(total_call_cost, :precision => 3, :delimiter => ',') %></b>

  </table>
</div>

<script type="text/javascript">
  $('#date_from').datepick({ dateFormat: 'yyyy-mm-dd', showTrigger: '#calImg'});
  $('#date_to').datepick({ dateFormat: 'yyyy-mm-dd', showTrigger: '#calImg'});
  function checkDateValues(){
    $('#advance_filter_chk').val('true');
    if($('#date_from').val() == ""){
      alert('Please select Date From first.');
      return false;
    }
    if($('#date_to').val() == ""){
      alert('Please select Date To.');
      return false;
    }
    return true;
  }
</script>
