<div class="logo_heading">
                <%= image_tag "logo.png" %>
	</div>



	<div class="login_container">


<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<fieldset>
		<p>
			<label for="login"><%= f.label :email %></label><br>
			<%= f.email_field :email %>
		</p>
	
		<p>
			<%= f.label :password %>
			(<a tabindex="4" class="forgot" href="#">Vergeten?</a>)
			<br>
			<%= f.password_field :password %>
		</p>
	
		<p class="submit">
			<%= f.submit "Sign in" ,:class=>"button" %>
		</p>
	</fieldset>


<% end %>

<%#= render :partial => "devise/shared/links" %>
          </div>