<%= form_for(@privilege, :remote =>  true) do |f| %>
  <div style="float: left;width: 100%;" id="error_messages">
    <%= render :partial => "/shared/error_messages", :locals => { :object => @privilege } %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

<div class="actions">
    <%= f.submit "Save" %>&nbsp;&nbsp;or&nbsp;&nbsp;
    <%= link_to "Cancel", privileges_path, :style => "color:blue;text-decoration:none;" %>
  </div>

<% end %>
