<h1>Privileges</h1>

<table>
  
    <h3>Privileges Types:</h3>
    <th></th>
    <th></th>
   

<% @privileges.each do |privilege| %>
  <tr>
    <td><%= privilege.name %></td>
    <td><%= link_to 'Show', privilege %></td>
    <td><%= link_to 'Edit', edit_privilege_path(privilege) %></td>
    <td><%= link_to 'Destroy', privilege, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Privilege', new_privilege_path %>
