<h3>Create New User</h3>

<div class="field">
<%= f.label :email %>
  <%= f.email_field :email %></div>

<div class="field"><%= f.label :password %>
  <%= f.password_field :password %></div>

<div class="field"><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

<div class="actions"><%= f.submit "Sign up" %></div>