<h2>Assign Privileges</h2>
<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>
<p>
  <%= form_for @user, :url => "/site_users/user_privileges/#{@user.id}" do|f| %>
    <% @privileges.each do|p| %>
      <%= check_box_tag "privileges[#{p.name}]", p.name,@user.privileges.include?(p)? true : false %>
      <b><%= p.name %></b>
    <% end %>
    <br />
    <%= f.submit "Assign" %>
  <% end %>
</p>