<h2>Change User</h2>

<%= form_for(@user, :url => "/site_users/update/#{@user.id}", :html => { :method => :post }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this seller_rate from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p><%= f.label :email %><br />
    <%= f.email_field :email %></p>

  <p><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %></p>

  <% if is_admin? %>
    <p><%= "Group" %><br />
      <%= select_tag "role", options_from_collection_for_select(@groups, "id", "name",:selected => @user.groups.blank? ? '' :@user.groups.first.id) %>
    </p>

    <p><b>Extensions</b>
      <% @extensions.each do|e| %>
        <%= check_box_tag "extensions[#{e.name}]", e.name,@user.extensions.include?(e)? true : false %>
        <b><%= e.name %></b>
      <% end %>
    </p>
  <% end %>
  <p><%= f.submit "Update" %></p>
<% end %>

<%= link_to "Back", :back %>
