<h3>Users&nbsp;&nbsp;&nbsp;<%= link_to '+', new_site_user_path, :remote =>  true, :style => "text-decoration:none;" %></h3>

<table width="650" class="datatable">
  <tr style="border-bottom: 1px solid #999999;">
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @users.each do |site_user| %>
    <tr>
      <td width="400"><%= site_user.email %></td>
      <td><%= link_to (image_tag 'edit-icon-small.gif'), edit_site_user_path(site_user) %></td>
      <td><%= link_to (image_tag 'trash.png'), "site_users/destroy/#{site_user.id}", :confirm => 'Are you sure?', :method => :delete %></td>
      <td><%= link_to 'Assign Privileges', "site_users/assign_privileges/#{site_user.id}" %></td>
    </tr>
  <% end %>
</table>

