<h3>Users</h3>

<table width="650" class="datatable">

  <th>Email</th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
    
<% @users.each do |site_user| %>
  <tr>
    <td width="400"><%= site_user.email %></td>
    <td><%= link_to 'Show', "/site_users/show/#{site_user.id}" %></td>
    <td><%= link_to 'Edit', edit_site_user_path(site_user) %></td>
    <td><%= link_to (image_tag 'trash.png'), "site_users/destroy/#{site_user.id}", :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Assign Privileges', "site_users/assign_privileges/#{site_user.id}" %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New User', new_site_user_path %>