<h3>Users&nbsp;&nbsp;&nbsp;<%= link_to_function 'Add +', "fetch_object('#{new_site_user_path}');", :class => "functional_link" %></h3>
<div style="background-color: #eeeeee;float: left;" id="add_edit_form">

</div>

<table width="650" class="datatable">
  <tr style="border-bottom: 1px solid #999999;">
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @users.each do |site_user| %>
    <tr>
      <td width="400"><%= site_user.email %></td>
      <td><%= link_to_function (image_tag 'edit-icon-small.gif'), "fetch_object('#{edit_site_user_path(site_user)}');", :class => "functional_link" %></td>
      <td><%= link_to (image_tag 'trash.png'), "site_users/destroy/#{site_user.id}", :confirm => 'Are you sure?', :method => :delete %></td>
      <td><%= link_to 'Assign Privileges', "site_users/assign_privileges/#{site_user.id}" %></td>
    </tr>
  <% end %>
</table>

