
<%= form_for(@apply_to, :remote =>  true) do |f| %>

  <div style="float: left;width: 100%;" id="error_messages">
    <%= render :partial => "/shared/error_messages", :locals => { :object => @apply_to } %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit "Save" %>&nbsp;&nbsp;or&nbsp;&nbsp;
    <%= link_to "Cancel", apply_tos_path, :style => "color:blue;text-decoration:none;" %>
  </div>

<% end %>
