
<%= form_for(@apply_to, :remote =>  true) do |f| %>
  <div style="float: left;width: 100%;" id="error_messages">
    <%= render :partial => "/shared/error_messages", :locals => { :object => @apply_to } %>
  </div>

  <% if @apply_to.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apply_to.errors.count, "error") %> prohibited this apply_to from being saved:</h2>

      <ul>
        <% @apply_to.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit "Save" %>&nbsp;&nbsp;or&nbsp;&nbsp;
    <%= link_to "Cancel", apply_tos_path, :style => "color:blue;text-decoration:none;" %>
  </div>



<% end %>
