<h3>Customer Class&nbsp;&nbsp;&nbsp;<%= link_to_function 'Add +', "set_cursor('#apply_to_name');", :class => "functional_link" %></h3>

<div class="datatable" >
  <div class="datatable_header">
    <span style="width: 150px;">Name:</span>
  </div>

  <% @apply_tos.each do |apply_to| %>
    <div class="rows" id="apply_to_<%= apply_to.id %>">
      <div class="row-column" style="width: 500px;"><%= apply_to.name%></div>
      <div class="row-column" style="width: 50px;"><%= link_to_function (image_tag 'edit-icon-small.gif'), "fetch_object('#{edit_apply_to_path(apply_to)}', '#apply_to_#{apply_to.id}' );", :class => "functional_link"  %></div>
      <div class="row-column" style="width: 30px;"><%= link_to (image_tag 'trash.png'), apply_to, confirm: 'Are you sure?', method: :delete %></div>
    </div>
  <% end %>
</div>


<div class="add_form">
  <h3>Create Customer Class</h3>
  <%= render 'form' %>
</div>


