<h3>Applies To</h3>
<table width="650" class="datatable">

  
  <th>Name:</th>
  <th></th>
  <th></th>
  <th></th>


  <% @apply_tos.each do |apply_to| %>
    <tr>
      <td width="500"><%= apply_to.name %></td>
      <td><%= link_to 'Show', apply_to %></td>
      <td><%= link_to 'Edit', edit_apply_to_path(apply_to) %></td>
      <td><%= link_to 'Destroy', apply_to, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Apply to', new_apply_to_path %>
