<div class="settings_navigation">
  <h4>Rates</h4>
  <ul>
    <li><%= link_to "Seller Rates", seller_rates_path %></li>
    <li><%= link_to "Buyer Rates", seller_rates_path %></li>
    <li class="active"><%= link_to "Countries", countries_path %></li>
    <li><%= link_to "Apply To", apply_tos_path %></li>
    <li><%= link_to "Regions", regions_path %></li>
    <li><%= link_to "Prefixes", prefixes_path %></li>
    <li><%= link_to "Call Groups", callgroups_path %></li>
    <li><%= link_to "Call Definations", call_definations_path %></li>
  </ul>
  <h4>Users/Groups</h4>
  <ul>
    <li><%= link_to "Users", site_users_path %></li>
    <li> <%= link_to "Groups", groups_path %></li>
    <li><%= link_to "Privileges", privileges_path %></li>    
  </ul>
</div>