<div class="settings_navigation">
  <h4>Settings</h4>

  <ul>
    <li class=""><%= link_to "General", "" %></li>
    <li class="<%= params[:controller] == 'seller_rates' ? 'active' : '' %>"><%= link_to "Rates", seller_rates_path %></li>
    <% if params[:controller] == 'seller_rates' or params[:controller] == 'countries' or params[:controller] == 'apply_tos' or params[:controller] == 'regions' %>
      <li class="<%= params[:controller] == 'seller_rates' ? 'active' : '' %>"><%= link_to "Seller Rates", seller_rates_path, :style => "padding-left: 25px;"  %></li>
      <li class="<%= params[:controller] == 'seller_rates' ? 'active' : '' %>"><%= link_to "Buyer Rates", seller_rates_path, :style => "padding-left: 25px;"   %></li>
      <li class="<%= params[:controller] == 'countries' ? 'active' : '' %>"><%= link_to "Countries", countries_path, :style => "padding-left: 25px;"   %></li>
      <li class="<%= params[:controller] == 'apply_tos' ? 'active' : '' %>"><%= link_to "Customer Class", apply_tos_path, :style => "padding-left: 25px;"   %></li>
      <li class="<%= params[:controller] == 'regions' ? 'active' : '' %>"><%= link_to "Regions", regions_path, :style => "padding-left: 25px;"   %></li>
      <li class="<%= params[:controller] == 'call_definations' ? 'active' : '' %>"><%= link_to "Call Definitions", call_definations_path, :style => "padding-left: 25px;"   %></li>
      <li class="<%= params[:controller] == 'extensions' ? 'active' : '' %>"><%= link_to "Extensions", extensions_path, :style => "padding-left: 25px;"   %></li>
    <% end %>

    <li class="<%= params[:controller] == 'site_users' ? 'active' : '' %>"><%= link_to "Users/Groups", site_users_path %></li>
    <% if params[:controller] == 'site_users' or params[:controller] == 'customers' or params[:controller] == 'groups' or params[:controller] == 'privileges' %>
      <li class="<%= params[:controller] == 'site_users' ? 'active' : '' %>"><%= link_to "Users", site_users_path, :style => "padding-left: 25px;"   %></li>
      <li class="<%= params[:controller] == 'customers' ? 'active' : '' %>"><%= link_to "Customers", customers_path, :style => "padding-left: 25px;"   %></li>
      <li class="<%= params[:controller] == 'groups' ? 'active' : '' %>"><%= link_to "Group", groups_path, :style => "padding-left: 25px;"   %></li>
      <li class="<%= params[:controller] == 'privileges' ? 'active' : '' %>"><%= link_to "Privileges", privileges_path, :style => "padding-left: 25px;"   %></li>
    <% end %>
  </ul>
</div>