<%= form_for(@prefix, :remote =>  true) do |f| %>
  <div style="float: left;width: 100%;" id="error_messages">
    <%= render :partial => "/shared/error_messages", :locals => { :object => @prefix } %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
