<h3>Contacts&nbsp;&nbsp;&nbsp;<%= link_to_function 'Add +', "set_cursor('#customer_company');", :class => "functional_link" %></h3>

<div  class="datatable">
  <div class="datatable_header"  style="margin-bottom: 10px;overflow: auto;width: 650px;float: left;">
    <span style="width: 70px;">Company</span>
    <span style="width: 50px;">First name</span>
    <span style="width: 50px;">Last name</span>
    <span style="width: 40px;">Attn</span>
    <span style="width: 40px;">Sending method</span>
    <span style="width: 40px;">Address</span>
    <span style="width: 40px;">Zip code</span>
    <span style="width: 40px;">City</span>
    <span style="width: 40px;">Country</span>
    <span style="width: 40px;">Email</span>
    <span style="width: 40px;">Phone</span>
    <span style="width: 40px;">Client number</span>
    <span style="width: 40px;">Tax number</span>
    <span style="width: 40px;">Chamber of Commerce</span>
    <span style="width: 40px;">Bank account</span>
    <span style="width: 40px;">Extensions</span>
    <span style="width: 40px;">Account code</span>
    <span style="width: 40px;">Rate class</span>
    <span style="width: 40px;">Edit</span>
    <span style="width: 40px;">Destroy</span>
  </div>

  <% @customers.each do |customer| %>
    <div class="rows" id="seller_rate_<%= customer.id %>">
      <div class="row-column" style="width: 70px;"><%= customer.company %></div>
      <div class="row-column" style="width: 50px;"><%= customer.first_name %></div>
      <div class="row-column" style="width: 50px;"><%= customer.last_name %></div>
      <div class="row-column" style="width: 40px;"><%= customer.attn %></div>
      <div class="row-column" style="width: 40px;"><%= customer.sending_method.humanize %></div>
      <div class="row-column" style="width: 40px;"><%= customer.address %></div>
      <div class="row-column" style="width: 40px;"><%= customer.zip_code %></div>
      <div class="row-column" style="width: 40px;"><%= customer.city %></div>
      <div class="row-column" style="width: 40px;"><%= customer.country %></div>
      <div class="row-column" style="width: 40px;"><%= customer.email %></div>
      <div class="row-column" style="width: 40px;"><%= customer.phone %></div>
      <div class="row-column" style="width: 40px;"><%= customer.client_number %></div>
      <div class="row-column" style="width: 40px;"><%= customer.tax_number %></div>
      <div class="row-column" style="width: 40px;"><%= customer.coc %></div>
      <div class="row-column" style="width: 40px;"><%= customer.bank_account %></div>
      <div class="row-column" style="width: 40px;"><%= customer.extensions %></div>
      <div class="row-column" style="width: 40px;"><%= customer.account_code %></div>
      <div class="row-column" style="width: 40px;"><%= customer.rate_class %></div>

      <div class="row-column" ><%= link_to_function (image_tag 'edit-icon-small.gif'), "fetch_object('#{edit_customer_path(customer)}', '#seller_rate_#{customer.id}' )", :class => "functional_link"  %></div>
      <div class="row-column" ><%= link_to image_tag('trash.png'), customer_path(customer), :confirm =>'Are you sure?', :method => :delete %></div>

    </div>
  <% end %>
</div>



<div class="add_form">
  <h3>New Contact</h3>
  <%= render 'form' %>
</div>

