<h3>Contacts&nbsp;&nbsp;&nbsp;<%= link_to_function 'Add +', "set_cursor('#customer_company');", :class => "functional_link" %></h3>

<div  class="datatable" style="overflow: auto;">
  <table style="width: 100%">
    <tr>
      <td>
        <div class="datatable_header" style="overflow: auto;width: 1500px;" >
          <span style="width: 80px;float: left;">Company</span>
          <span style="width: 70px;float: left;">First name</span>
          <span style="width: 70px;float: left;">Last name</span>
          <span style="width: 50px;float: left;">Attn:</span>
          <span style="width: 60px;float: left;">Sending method</span>
          <span style="width: 80px;float: left;">Address</span>
          <span style="width: 50px;float: left;">Zip code</span>
          <span style="width: 70px;float: left;">City</span>
          <span style="width: 60px;float: left;">Country</span>
          <span style="width: 120px;float: left;">Email</span>
          <span style="width: 80px;float: left;">Phone</span>
          <span style="width: 60px;float: left;">Client number</span>
          <span style="width: 60px;float: left;">Tax number</span>
          <span style="width: 80px;float: left;">Chamber of Commerce</span>
          <span style="width: 60px;float: left;">Bank account</span>
          <span style="width: 70px;float: left;">Extensions</span>
          <span style="width: 60px;float: left;">Account code</span>
          <span style="width: 120px;float: left;">Rate classification</span>
          <span style="width: 50px;float: left;">Edit</span>
          <span style="width: 40px;float: left;">Delete</span>
        </div>


        <% @customers.each do |customer| %>
          <div class="rows"style=" overflow: auto;width: 1500px;" id="seller_rate_<%= customer.id %>" >
            <div class="row-column" style="width: 80px;float: left;"><%= customer.company %></div>
            <div class="row-column" style="width: 70px;float: left;"><%= customer.first_name %></div>
            <div class="row-column" style="width: 70px;float: left;"><%= customer.last_name %></div>
            <div class="row-column" style="width: 50px;float: left;"><%= customer.attn %></div>
            <div class="row-column" style="width: 60px;float: left;"><%= customer.sending_method.humanize %></div>
            <div class="row-column" style="width: 80px;float: left;"><%= customer.address %></div>
            <div class="row-column" style="width: 50px;float: left;"><%= customer.zip_code %></div>
            <div class="row-column" style="width: 70px;float: left;"><%= customer.city %></div>
            <div class="row-column" style="width: 60px;float: left;"><%= customer.country %></div>
            <div class="row-column" style="width: 120px;float: left;"><%= customer.email %></div>
            <div class="row-column" style="width: 80px;float: left;"><%= customer.phone %></div>
            <div class="row-column" style="width: 60px;float: left;"><%= customer.client_number %></div>
            <div class="row-column" style="width: 60px;float: left;"><%= customer.tax_number %></div>
            <div class="row-column" style="width: 80px;float: left;"><%= customer.coc %></div>
            <div class="row-column" style="width: 60px;float: left;"><%= customer.bank_account %></div>
            <div class="row-column" style="width: 70px;float: left;"><%= customer.extensions %></div>
            <div class="row-column" style="width: 60px;float: left;"><%= customer.account_code %></div>
            <div class="row-column" style="width: 120px;float: left;"><%= customer.rate_class %></div>

            <div class="row-column"style="width: 60px;float: left;" ><%= link_to_function (image_tag 'edit-icon-small.gif'), "fetch_object('#{edit_customer_path(customer)}', '#seller_rate_#{customer.id}' )", :class => "functional_link"  %></div>
            <div class="row-column" ><%= link_to image_tag('trash.png'), customer_path(customer), :confirm =>'Are you sure?', :method => :delete %></div>

          </div>
        <% end %>
      </td>
    </tr>
  </table>
</div>


<div class="add_form">
  <h3>New Contact</h3>
  <%= render 'form' %>
</div>

