<%= form_for(@country, :remote =>  true) do |f| %>
  <div style="float: left;width: 100%;" id="error_messages">
    <%= render :partial => "/shared/error_messages", :locals => { :object => @country } %>
  </div>

  <div class="field">
    <%= f.label :region_id, "Region" %>
    <%= f.select :region_id, "<option value="">Please select region</option>" + options_from_collection_for_select(@regions, :id, :name,@country.region_id),{}, :style => "width:200px;" %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :code, "Country Code" %>
    <%= f.text_field :code %>
  </div>

  <div class="actions">
    <%= f.submit "Save" %>&nbsp;&nbsp;or&nbsp;&nbsp;
    <%= link_to "Cancel", countries_path, :style => "color:blue;text-decoration:none;" %>
  </div>



<% end %>
