<h3>Call Definitions&nbsp;&nbsp;&nbsp;<%= link_to_function 'Add +', "set_cursor('#call_defination_name');", :class => "functional_link" %></h3>

<div class="datatable" >
  <div class="datatable_header">
    <span style="width: 150px;">Call Definition:</span>
  </div>

  <% @call_definations.each do |call_defination| %>

    <div class="rows" id="call_defination_<%= call_defination.id %>">
      <div class="row-column" style="width: 500px;"><%= call_defination.name%></div>
      <div class="row-column" style="width: 50px;"><%= link_to_function (image_tag 'edit-icon-small.gif'), "fetch_object('#{edit_call_defination_path(call_defination)}', '#call_defination_#{call_defination.id}' );", :class => "functional_link"  %></div>
      <div class="row-column" style="width: 30px;"><%= link_to (image_tag 'trash.png'), call_defination, confirm: 'Are you sure?', method: :delete %></div>
    </div>
  <% end %>
</div>


<div class="add_form">
  <h3>New Call Definition</h3>
  <%= render 'form' %>
</div>