<h3>Regions</h3>

<table width="650" class="datatable">
  
    <th>Region Name:</th>
    <th></th>
    <th></th>
    <th></th>
  

<% @regions.each do |region| %>
  <tr>
    <td width="500"><%= region.name %></td>
    <td><%= link_to 'Show', region %></td>
    <td><%= link_to 'Edit', edit_region_path(region) %></td>
    <td><%= link_to 'Destroy', region, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Region', new_region_path %>
