<h1>Regions</h1>

<table>
  
    <h3>Region Name:</h3>
    <th></th>
    <th></th>
    <th></th>
  

<% @regions.each do |region| %>
  <tr>
    <td><%= region.name %></td>
    <td><%= link_to 'Show', region %></td>
    <td><%= link_to 'Edit', edit_region_path(region) %></td>
    <td><%= link_to 'Destroy', region, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Region', new_region_path %>
