<h3>Regions&nbsp;&nbsp;&nbsp;<%= link_to_function 'Add +', "set_cursor('#region_name');", :class => "functional_link" %></h3>

<div class="datatable" >
  <div class="datatable_header">
    <span style="width: 150px;">Region Name:</span>
  </div>

  <% @regions.each do |region| %>
    <div class="rows" id="region_<%= region.id %>">
      <div class="row-column" style="width: 500px;"><%= region.name%></div>
      <div class="row-column" style="width: 50px;"><%= link_to_function (image_tag 'edit-icon-small.gif'), "fetch_object('#{edit_region_path(region)}', '#region_#{region.id}' );", :class => "functional_link"  %></div>
      <div class="row-column" style="width: 30px;"><%= link_to (image_tag 'trash.png'), region, confirm: 'Are you sure?', method: :delete %></div>
    </div>
  <% end %>
</div>

<div class="add_form">
  <h3>Create Customer Class</h3>
  <%= render 'form' %>
</div>
  


