<%= form_for(@seller_rate) do |f| %>
  <% if @seller_rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seller_rate.errors.count, "error") %> prohibited this seller_rate from being saved:</h2>

      <ul>
        <% @seller_rate.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :country_id %><br />
    <%= f.select :country_id, options_from_collection_for_select(@countries, :id, :name, @seller_rate.country_id), {:prompt => "Select Country"}, :style => "width:290px;" %>
  </div>

  <div class="field">
    <%= f.label :apply_to_id %><br />
    <%= f.select :apply_to_id, options_from_collection_for_select(@apply_tos, :id, :name, @seller_rate.apply_to_id), {:prompt => "Select Apply To"}, :style => "width:290px;" %>
  </div>

  <div class="field">
    <%= f.label :region_id %><br />
    <%= f.select :region_id, options_from_collection_for_select(@regions, :id, :name, @seller_rate.region_id), {:prompt => "Select Region"}, :style => "width:290px;" %>
  </div>

  <div class="field">
    <%= f.label :prefix_id %><br />
    <%= f.select :prefix_id, options_from_collection_for_select(@prefixes, :id, :name, @seller_rate.prefix_id), {:prompt => "Select Prefix"}, :style => "width:290px;" %>
  </div>

  <div class="field">
    <%= f.label :callgroup_id %><br />
    <%= f.select :callgroup_id, options_from_collection_for_select(@call_groups, :id, :name, @seller_rate.callgroup_id), {:prompt => "Select Call Group"}, :style => "width:290px;" %>
  </div>

  <div class="field">
    <%= f.label :start_rate %><br />
    <%= f.text_field :start_rate %>
  </div>
  <div class="field">
    <%= f.label :call_defination_id %><br />
    <%= f.select :call_defination_id, options_from_collection_for_select(@call_definations, :id, :name, @seller_rate.call_defination_id), {:prompt => "Select Call Defination"}, :style => "width:290px;" %>
  </div>

  <div class="field">
    <%= f.label :rate_per_minute %><br />
    <%= f.text_field :rate_per_minute %>
  </div>

  <div class="field">
    <%= f.label :end_rate %><br />
    <%= f.text_field :end_rate %>
  </div>

  <div class="field">
    <%= f.label :call_per_second %><br />
    <%= f.text_field :call_per_second %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
