<%= form_for(@seller_rate, :remote =>  true) do |f| %>  

  <div style="float: left;width: 100%;" id="error_messages">
    <%= render :partial => "/shared/error_messages", :locals => { :object => @seller_rate } %>
  </div>

  <div class="field" style="margin-bottom: 10px;">
    <%= f.label :prefix %>
    <%= f.text_field :prefix %>
  </div>

  <div class="field" style="margin-bottom: 10px;">
    <%= f.label :region_id %>
    <%= f.select :region_id, options_from_collection_for_select(@regions, :id, :name, @seller_rate.region_id), {:prompt => "Select Region"}, :style => "width:200px;" %>
  </div>

  <div class="field" id="countries" style="margin-bottom: 10px;">
    <%= render :partial => "/shared/countries", :locals => {:countries => @countries}  %>
  </div>

  <div class="field" style="margin-bottom: 10px;">
    <%= f.label :call_defination_id %>
    <%= f.select :call_defination_id, options_from_collection_for_select(@call_definations, :id, :name, @seller_rate.call_defination_id), {:prompt => "Select Call Definition"}, :style => "width:200px;" %>
  </div>

  <div class="field" style="margin-bottom: 5px;">
    <div style="float:left;">
      <label> Customer Class</label>
    </div>
    <%= f.select :apply_to_id, options_from_collection_for_select(@apply_tos, :id, :name, @seller_rate.apply_to_id), {:prompt => "Select Customer class"}, :style => "width:200px;" %>
  </div>

  <div class="field" style="margin-bottom: 10px;">
    <%= f.label :start_rate %>
    <%= f.text_field :start_rate %>
  </div>


  <div class="field" style="margin-bottom: 10px;">
    <%= f.label :rate_per_minute %>
    <%= f.text_field :rate_per_minute %>
  </div>


  <div class="field" style="margin-bottom: 10px;">
    <%= f.label :valid_from, 'Valid From' %>
    <%= f.text_field :valid_from, :style => "width:200px;" %>
  </div>

  <div class="field" style="margin-bottom: 10px;">
    <%= f.label :valid_to, 'Valid To' %>
    <%= f.text_field :valid_to, :style => "width:200px;" %>
  </div>


  <div class="field" style="margin-bottom: 10px;">
    <%= f.label :end_rate %>
    <%= f.text_field :end_rate %>
  </div>

  <div class="field" style="margin-bottom: 10px;">
    <%= f.label :call_per_second %>
    <%= f.text_field :call_per_second %>
  </div>
  <div class="actions">
    <%= f.submit "Save" %>&nbsp;&nbsp;or&nbsp;&nbsp;
    <%= link_to "Cancel", seller_rates_path, :style => "color:blue;text-decoration:none;" %>
  </div>

<% end %>

<script type="text/javascript">
  $('#seller_rate_valid_from').datepick({ dateFormat: 'yyyy-mm-dd', showTrigger: '#calImg'});
  $('#seller_rate_valid_to').datepick({ dateFormat: 'yyyy-mm-dd', showTrigger: '#calImg'});

  $('#seller_rate_region_id').change(function() {
    var region_id = $('#seller_rate_region_id').val();
    if (region_id == '') {
      return;
    }
    $.ajax({
      type:"GET",
      url: '/get_countries/'+region_id,
      success: function (response) {
      }
    });
  });
</script>
