<h3>Seller Rates&nbsp;&nbsp;&nbsp;<%= link_to_function 'Add +', "set_cursor('#seller_rate_prefix');", :class => "functional_link" %></h3>

<div class="datatable" >
  <div class="datatable_header">
    <span style="width: 40px;">Prefix</span>
    <span style="width: 65px;">Call Group</span>
    <span style="width: 100px;">Customer Class </span>
    <span style="width: 35px;">Start Rate</span>
    <span style="width: 55px;">Rate per/min</span>
    <span style="width: 30px;">End Rate</span>
    <span style="width: 30px;">Call p/s</span>
    <span style="width: 80px;">Valid From </span>
    <span style="width: 80px;">Valid To</span>
    <span style="width: 20px;">Edit</span>
    <span style="width: 30px;">Delete</span>
  </div>

  <% @seller_rates.each do |seller_rate| %>
    <div class="rows" id="seller_rate_<%= seller_rate.id %>">
      <div class="row-column" style="width: 40px;"><%= seller_rate.prefix %></div>
      <div class="row-column" style="width: 65px;"><%= seller_rate.callgroup %></div>
      <div class="row-column" style="width: 100px;"><%= seller_rate.apply_to.name %></div>
      <div class="row-column" style="width: 35px;"><%= seller_rate.start_rate %></div>
      <div class="row-column" style="width: 55px;"><%= seller_rate.rate_per_minute%></div>
      <div class="row-column" style="width: 30px;"><%= seller_rate.end_rate %></div>
      <div class="row-column" style="width: 30px;"><%= seller_rate.call_per_second %></div>
      <div class="row-column" style="width: 80px;"><%= seller_rate.valid_from.strftime("%Y-%m-%d") unless seller_rate.valid_from.blank?%></div>
      <div class="row-column" style="width: 90px;"><%= seller_rate.valid_to.strftime("%Y-%m-%d") unless seller_rate.valid_to.blank?%></div>
      <div class="row-column" style="width: 25px;"><%= link_to_function (image_tag 'edit-icon-small.gif'), "fetch_object('#{edit_seller_rate_path(seller_rate)}', '#seller_rate_#{seller_rate.id}' );", :class => "functional_link"  %></div>
      <div class="row-column" style="width: 30px;"><%= link_to (image_tag 'trash.png'), seller_rate, confirm: 'Are you sure?', method: :delete %></div>
    </div>
  <% end %>
</div>

<div class="add_form">
  <h3>New Seller Rate</h3>
  <%= render 'form' %>
</div>

